 :root {
    --bg: #2D2E2E;
    --dark: #0F0F0F;
    --btn-blue: #3891A6;
    --accent: #23CE6B;
    --text-white: #FBFBFB;
  }


.login-page {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid var(--dark);
    padding: 20px;
} 